.App {
    text-align: center;
}

.App-header {
    background-color: white;
    height: 100px;
    color: white;
    box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
    border-bottom: 1px solid #ccc;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #141e30; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff !important;
        /*background-color: #003049;*/
    }

    .App-header {
        background: linear-gradient(to right, #FF4136, #c4121e);
        border-bottom: 0px solid #ccc;
    }

    
}

.infoBox {
    height: 70px;
    max-width: 1200px;
    margin: 15px auto;
    box-shadow: 0 0.15em 0.35em 0 rgb(0 0 0 / 14%);
    /*border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: linear-gradient(90deg,#ff4136,#c4121e);
    color: #fff
}
    .infoBox a {
        text-decoration: none;
        color: #001f3f;
        font-weight: 700;
    }

    .infoBox .infoBoxText img {
        width: 25px;
        height: 25px;
    }

@media only screen and (max-width: 900px) {
    .infoBox {
        display: -webkit-inline-flex;
        display: inline-flex
    }
}

@media (prefers-color-scheme: dark){
    body {
        background: #141e30;
        background: linear-gradient( 90deg,#141e30,#243b55);
        color: #fff !important;
    }
}

.infoBoxText {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

/* #region Headings */

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*font-weight: bold;*/
    /*font-weight: 400;*/
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2 {
    font-weight: 400;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* #endregion */

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}